h2 {
    margin: auto;
}

div{
    margin-top:2px;
    text-align: center;
}

#container {
    width: auto;
}

#header{
    background-color: aqua;
    height: 150px;
}

#navigation{
    background-color: rgb (138,251,251);
    height: 40px;
}

#content{
    background-color: aqua;
    float:left;
    width: 75%;
    height: 400px;
}

#sidebar{
background-color: rgb(230, 255, 255);
float:right;
width : 25%;
height: 400px;
}

#clear{
    clear: both;
}

#footer{
    margin-top: 4px;
    background-color: rgb(138, 251, 251);
    height: 150px;
}
